{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Messenger</title>
    <style>
        #users-list { list-style-type: none; padding: 0; }
        #users-list li { padding: 5px; cursor: pointer; }
        #users-list li:hover { background-color: #f0f0f0; }
        #chat-log { width: 100%; height: 300px; }
    </style>
</head>
<body>
    <h1>Messenger</h1>
    <div>
        <h2>Users</h2>
        <ul id="users-list"></ul>
    </div>
    <div>
        <h2>Chat</h2>
        <textarea id="chat-log" readonly></textarea><br>
        <input id="chat-message-input" type="text" size="100"><br>
        <button id="chat-message-submit">Send</button>
    </div>
    <div>
        <h2>Edit Profile</h2>
        <form id="profile-form">
            <label for="first-name">First Name:</label><br>
            <input type="text" id="first-name" name="first_name"><br>
            <label for="last-name">Last Name:</label><br>
            <input type="text" id="last-name" name="last_name"><br>
            <label for="avatar">Avatar:</label><br>
            <input type="file" id="avatar" name="avatar"><br>
            <button type="submit">Save</button>
        </form>
    </div>
    <script src="{% static 'js/chat.js' %}"></script>
</body>
</html>
